.container {
  padding: 1rem 4rem;
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/reservesbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container__title {
  text-align: center;
  color: #fff;
}

.textfield__input {
  background-color: #fff;
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
