/* .carousel-button-group {
  position: absolute;
} */

.carousel-container {
  border: 5px solid transparent;
  
}

.image-carousel img {
  min-width: 50px;
  max-width: 150px;
}

@media only screen and (max-width: 600px) {

  .image-carousel img {
    width: 70px;
  } 
}
